<block-ui><div class="animated fadeIn">
<div *ngFor="let item of progressArr">
<div class="progress">
	<div class="progress-bar progress-bar-info progress-bar-striped"
		role="progressbar" attr.aria-valuenow="{{item.percentage}}"
		aria-valuemin="0" aria-valuemax="100"
		[ngStyle]="{width:item.percentage+'%'}">
		{{item.percentage}}%</div>
</div>
<br>
</div>
<table *ngIf="loading" style="border:0px solid red;">
	<tr >
              <td colspan="11" nowrap="nowrap" style="color:red;text-align:center">
                <img src="../../../assets/img/giphy.gif" height="50" align="middle">
              </td>
            </tr>
</table>

<label class="btn btn-default">
	<input #myInput type="file" multiple (change)="selectFile($event)">
</label>

<button class="btn btn-success" [disabled]="!selectedFiles"
	(click)="upload()">Upload</button>
	</div>
</block-ui>
