
<block-ui><div class="animated fadeIn">

  <div class="row">
 

    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Horizontal</strong> Form
        </div>
        <div class="card-body">


          <table class="table table-bordered table-striped table-sm">
            <tr>
              <td colspan="9">
                <input [(ngModel)]="searchText" placeholder="search text goes here" />
              </td>
              <td>
                <button type="button" class="btn btn-info" data-toggle="modal" (click)="onResetClick()">
            Reset Original
          </button>
              </td>


            </tr>
            <tr>
              <th>No</th>
              <th>ECode</th>
              <th>EName</th>
              <th>branch</th>
              <th>designation</th>
              <th>department</th>
              <th>totalCasualAlloted</th>
              <th>casualLeavesTaken</th>
              <th>casualLeavesRemaining</th>
              <th>Action</th>
            </tr>

            <tr *ngFor="let item of employeeArr | filter : searchText; let i = index">
              <td>{{i+1}}</td>
              <td>{{item.employeeCode}}</td>
              <td>{{item.employeeName}}</td>
              <td>{{item.branch}}</td>
              <td>{{item.designation}}</td>
              <td>{{item.department}}</td>
              <td>{{item.totalCasualAlloted}}</td>
              <td>{{item.casualLeavesTaken}}</td>
              <td>{{item.casualLeavesRemaining}}</td>
              <td><button type="button" class="btn btn-info" data-toggle="modal" (click)="onEditClick(infoModal,item)">
            Edit
          </button></td>
            </tr>
          </table>

        </div>
        <div class="card-footer">

        </div>
      </div>



    </div>
    <!--/.col-->
  </div>
</div>




<div bsModal #infoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="close" (click)="infoModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
        <table class="table table-bordered table-striped table-sm">
          <tr>
            <th>Item</th>
            <th>Value</th>
          </tr>
          <tr>
            <td>ECode</td>
            <td>{{currentItem.employeeCode}}</td>
          </tr>
          <tr>
            <td>EBioDevCd</td>
            <td>{{currentItem.employeeBioDeviceCode}}</td>
          </tr>
          <tr>
            <td>Employee Name</td>
            <td>{{currentItem.employeeName}}</td>
          </tr>

          <tr>
            <td>branch</td>
            <td>{{currentItem.branch}}</td>
          </tr>
          <tr>
            <td>designation</td>
            <td>{{currentItem.designation}}</td>
          </tr>
          <tr>
            <td>department</td>
            <td>{{currentItem.department}}</td>
          </tr>
          <tr>
            <td>employeeAge</td>
            <td>{{currentItem.employeeAge}}</td>
          </tr>
          <tr>
            <td>employeeSex</td>
            <td>{{currentItem.employeeSex}}</td>
          </tr>
          <tr>
            <td>Salary Total</td>
            <td>{{currentSalaryItem.total}}</td>
          </tr>
          <tr>
            <td>Total Leave Allotted</td>
            <td>{{currentLeaveItem.totalCasualAlloted}}</td>
          </tr>
          <tr>
            <td>Total Leave Taken</td>
            <td>{{currentLeaveItem.casualLeavesTaken}}</td>
          </tr>
          <tr>
            <td>Total Leave Remaining</td>
            <td>{{currentLeaveItem.casualLeavesRemaining}}</td>
          </tr>
          <!-- <tr>
            <td>Comment</td>
            <td><input type="textarea" [(ngModel)]="currentItem.comment"></td>

           </tr> -->

        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="infoModal.hide()">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveChanges()">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
</block-ui>