<block-ui>
  <div class="animated fadeIn">

    <div class="row">

      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <strong>Horizontal</strong> Form
          </div>
          <div class="card-body">

            <select [(ngModel)]="year">
              <!-- (change)="objChanged()" -->
              <option *ngFor="let year of yearSelectArr" [value]="year">{{year}}
              </option>
            </select>

            <select [(ngModel)]="month" (change)="objChanged()">
              <option *ngFor="let month of monthSelectArr" [value]="month">{{month}}
              </option>
            </select>

            <button (click)="objChanged()">Submit</button>

            <button style="float:right;" (click)="addNewLoan(infoModal)">New Loan</button>

            <table class="table table-bordered table-striped table-sm">
              <tr>
                <th>No</th>
                <th>ECode</th>
                <th>EName</th>
                <th>Avail Date</th>
                <th>Amount</th>
                <th>Tenure</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
              <tr *ngFor="let item of advanceList ; let trackBy=index">
                <td>{{trackBy+1}}</td>
                <td>{{item.employeeCode}}</td>
                <td>{{item.employeeName}}</td>
                <td>{{item.availDate| date :'MM/dd/yyyy'}}</td>
                <td>{{item.loanAmount}}</td>
                <td>{{item.loanTenure}}</td>
                <td>{{item.status}}</td>
                <td>
                  <button type="button" class="btn btn-info" data-toggle="modal" (click)="onEditClick(infoModal,item)">Edit</button>
                </td>
              </tr>
            </table>

          </div>
          <div class="card-footer">

          </div>
        </div>



      </div>
      <!--/.col-->
    </div>
  </div>

  <div bsModal #infoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-info" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add Loan</h4>
          <button type="button" class="close" (click)="infoModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>


        <div class="modal-body">
          <!--<p>One fine body&hellip;</p>-->
          <table class="table table-bordered table-striped table-sm">
            <tr>
              <th>Item</th>
              <th>Value</th>
            </tr>
            <tr>
              <td>Employee</td>
              <td>
                <select [(ngModel)]="loan.employeeCode" [ngModelOptions]="{standalone: true}" (change)="onChange($event)" [disabled]="loan.id!=''"       >
                  <ng-container *ngFor="let x of employeeArr">
                    <option *ngIf="x.employeeCode==loan.employeeBioDeviceCode" selected [value]="x.employeeBioDeviceCode ">{{x.employeeName}}</option>
                    <option *ngIf="x.employeeCode!=loan.employeeBioDeviceCode" [value]="x.employeeBioDeviceCode">{{x.employeeName}}</option>
                  </ng-container>
                </select>
              </td>
            </tr>

            <tr>
              <td>Loan Amount</td>
              <td>
                <input type="number" [(ngModel)]="loan.loanAmount" [readonly]="loan.id!=''">
                <span style="color:red">* number</span>
              </td>
            </tr>
            <tr>
              <td>Tenure</td>
              <td>
                <select [(ngModel)]="loan.loanTenure" [ngModelOptions]="{standalone: true}"  [disabled]="loan.id!=''">
                  <ng-container *ngFor="let x of loanTenure">
                    <option *ngIf="x.value==loan.loanTenure" selected [value]="x.value">{{x.value}} Months</option>
                    <option *ngIf="x.value!=loan.loanTenure" [value]="x.value">{{x.value}} Months</option>
                  </ng-container>
                </select>
              </td>
            </tr>
            <tr>
              <td>Avail Date</td>
              <td>
                <input type='date' [(ngModel)]="loan.availDate" *ngIf="loan.id==''">
                <input type='text' readonly [value]="loan.availDate|date:'MM/dd/yyyy'" *ngIf="loan.id!=''">
              </td>
            </tr>
            <tr *ngIf="loan.id!=''">
              <td>Status</td>
              <td>
                <select [(ngModel)]="loan.status" [ngModelOptions]="{standalone: true}">
                  <option value="active">Active</option>
                  <option value="closed">Closed</option>
                </select>
              </td>
            </tr>

          </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="infoModal.hide()">Close</button>
          <button type="button" class="btn btn-primary" (click)="saveChanges()" *ngIf="loan.id==''">Save changes</button>
          <button type="button" class="btn btn-primary" (click)="updateChanges()" *ngIf="loan.id!=''">Save changes</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</block-ui>