<div class="animated fadeIn">

  <div class="row">

    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Horizontal</strong> Form
        </div>
        <div class="card-body">


          <table class="table table-bordered table-striped table-sm">
            <tr>
              <td colspan="10">
                <input [(ngModel)]="searchText" placeholder="search text goes here" />
              </td>


            </tr>
            <tr>
              <th>No</th>
              <th>ECode</th>
              <th>EBioDevCd</th>
              <th>EName</th>
              <th>branch</th>
              <th>designation</th>
              <th>department</th>
              <th>employeeAge</th>
              <th>employeeSex</th>
              <th>Action</th>
            </tr>

            <tr *ngFor="let item of employeeArr | filter : searchText; let i = index">
              <td>{{i+1}}</td>
              <td>{{item.employeeCode}}</td>
              <td>{{item.employeeBioDeviceCode}}</td>
              <td>{{item.employeeName}}</td>
              <td>{{item.branch}}</td>
              <td>{{item.designation}}</td>
              <td>{{item.department}}</td>
              <td>{{item.employeeAge}}</td>
              <td>{{item.employeeSex}}</td>
              <td><button type="button" class="btn btn-info" data-toggle="modal" (click)="onEditClick(infoModal,item)">
            Edit
          </button></td>
            </tr>
          </table>
          <div class="col-sm-4 col-lg-2" (click)="onEditClick(infoModal,null)">

      <button class="mb-0">
          Add New Employee
          </button>


    </div>

        </div>
        <div class="card-footer">

        </div>
      </div>



    </div>
    <!--/.col-->
  </div>
</div>




<div bsModal #infoModal="bs-modal" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-info modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Or Edit Employee Detailas</h4>
        <button type="button" class="close" (click)="infoModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"> 
        <table class="table table-bordered table-striped table-sm">
          <tr>
            <th>Item</th>
            <th>Value</th>
            <th>Change Value</th>
          </tr>
          <tr>
            <td>Employee Code</td>
            <td>{{currentItem.employeeCode}}</td>
             <td><input type="text" [(ngModel)]="currentItem.employeeCode"></td>
          </tr>
          <tr>
            <td>Biometric Device Code</td>
            <td>{{currentItem.employeeBioDeviceCode}}</td>
             <td><input type="number" [(ngModel)]="currentItem.employeeBioDeviceCode"><span style="color:red">* number</span></td>
          </tr>
          <tr>
            <td>Employee Name</td>
            <td>{{currentItem.employeeName}}</td>
             <td><input type="text" [(ngModel)]="currentItem.employeeName"></td>
          </tr>

          <tr>
            <td>branch</td>
            <td>{{currentItem.branch}}</td>
             <td><input type="text" [(ngModel)]="currentItem.branch"></td>
          </tr>
          <tr>
            <td>designation</td>
            <td>{{currentItem.designation}}</td>
             <td><input type="text" [(ngModel)]="currentItem.designation"></td>
          </tr>
          <tr>
            <td>department</td>
            <td>{{currentItem.department}}</td>
             <td><input type="text" [(ngModel)]="currentItem.department"></td>
          </tr>
          <tr>
            <td>employeeAge</td>
            <td>{{currentItem.employeeAge}}</td>
             <td><input type="number" [(ngModel)]="currentItem.employeeAge"><span style="color:red">* number</span></td>
          </tr>
          <tr>
            <td>employeeSex</td>
            <td>{{currentItem.employeeSex}}</td>
             <td><input type="text" [(ngModel)]="currentItem.employeeSex"></td>
          </tr>

          <tr>
            <td>dateOfBirth</td>
            <td>{{currentItem.dateOfBirth |date:'dd/MM/yyyy'}}</td>
             <td><input type="date" [(ngModel)]="currentItem.dateOfBirth"></td>
          </tr>
          <tr>
            <td>nameOfGuardian</td>
            <td>{{currentItem.nameOfGuardian}}</td>
             <td><input type="text" [(ngModel)]="currentItem.nameOfGuardian"></td>
          </tr>
          <tr>
            <td>designationCode</td>
            <td>{{currentItem.designationCode}}</td>
             <td><input type="number" [(ngModel)]="currentItem.designationCode"><span style="color:red">* number</span></td>
          </tr> 
          <tr>
            <td>mobileNumber</td>
            <td>{{currentItem.mobileNumber}}</td>
             <td><input type="number" [(ngModel)]="currentItem.mobileNumber"><span style="color:red">* number</span></td>
          </tr>
          <tr>
            <td>dateOfJoining</td>
            <td>{{currentItem.dateOfJoining |date:'dd/MM/yyyy'}}</td>
             <td><input type="date" [(ngModel)]="currentItem.dateOfJoining"></td>
          </tr>
          <tr>
            <td>emailId</td>
            <td>{{currentItem.emailId}}</td>
             <td><input type="email" [(ngModel)]="currentItem.emailId"></td>
          </tr>
          <tr>
            <td>bankName</td>
            <td>{{currentItem.bankName}}</td>
             <td><input type="text" [(ngModel)]="currentItem.bankName"></td>
          </tr>
          <tr>
            <td>ifscCode</td>
            <td>{{currentItem.ifscCode}}</td>
             <td><input type="text" [(ngModel)]="currentItem.ifscCode"></td>
          </tr>
          <tr>
            <td>bankAccountNumber</td>
            <td>{{currentItem.bankAccountNumber}}</td>
             <td><input type="number" [(ngModel)]="currentItem.bankAccountNumber"><span style="color:red">* number</span></td>
          </tr>
          <tr>
            <td>hra</td>
            <td>{{currentItem.hra}}</td>
             <td><input type="number" [(ngModel)]="currentItem.hra"><span style="color:red">* number</span></td>
          </tr>
          <tr>
            <td>da</td>
            <td>{{currentItem.da}}</td>
             <td><input type="number" [(ngModel)]="currentItem.da"><span style="color:red">* number</span></td>
          </tr>
          <tr>
            <td>basic</td>
            <td>{{currentItem.basic}}</td>
             <td><input type="number" [(ngModel)]="currentItem.basic"><span style="color:red">* number</span></td>
          </tr>


          <tr>
            <td>salary</td>
            <td>{{currentItem.salary}}</td>
             <td><input type="number" [(ngModel)]="currentItem.salary"><span style="color:red">* number</span></td>
          </tr>
          <tr>
            <td>totalCasualAlloted</td>
            <td>{{currentItem.totalCasualAlloted}}</td>
             <td><input type="number" [(ngModel)]="currentItem.totalCasualAlloted"><span style="color:red">* number</span></td>
          </tr>
          <tr>
            <td>casualLeavesTaken</td>
            <td>{{currentItem.casualLeavesTaken}}</td>
             <td><input type="number" [(ngModel)]="currentItem.casualLeavesTaken"><span style="color:red">* number</span></td>
          </tr>
          <tr>
            <td>casualLeavesRemaining</td>
            <td>{{currentItem.casualLeavesRemaining}}</td>
            <td><input type="number" [(ngModel)]="currentItem.casualLeavesRemaining"><span style="color:red">* number</span></td>
          </tr>
          <tr>
            <td>cityCompensationAllowence</td>
            <td>{{currentItem.cityCompensationAllowence}}</td>
            <td><input type="number" [(ngModel)]="currentItem.cityCompensationAllowence"><span style="color:red">* number</span></td>
          </tr>
          
          <!-- <tr>
            <td>Comment</td>
            <td><input type="textarea" [(ngModel)]="currentItem.comment"></td>

           </tr> -->

        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="infoModal.hide()">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveChanges()">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->