<block-ui>
  <div class="animated fadeIn">

    <div class="row">

      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <button (click)="resetAll()">resetAll</button>
            <strong>Horizontal</strong> Form
          </div>
          <div class="card-body">

            <select [(ngModel)]="year">
            <!-- (change)="objChanged()" -->
            <option *ngFor="let year of yearSelectArr" [value]="year">{{year}}
            </option>
          </select>

            <select [(ngModel)]="month" (change)="objChanged()">
            <option *ngFor="let month of monthSelectArr" [value]="month">{{month}}
            </option>
          </select>

            <button (click)="objChanged()">Submit</button> 

            <table class="table table-bordered table-striped table-sm">

              <tr *ngFor="let item of employeeSalStatusArr ; let trackBy=index">
                <td>{{trackBy+1}}</td>
                <td>{{item.month}}</td>
                <td>{{item.year}}</td>
                <td><button (click)="generateExcel(item.year,item.month)">Generate Excel</button></td>
                <!-- <td><button (click)="deletItem(item)">Reset</button></td> -->
              </tr>
            </table>

          </div>
          <div class="card-footer">

          </div>
        </div>



      </div>
      <!--/.col-->
    </div>
  </div>
</block-ui>